h3
{
font-size: 25px !important;
}

canvas
{
animation-name : meh;
animation-duration : 4s;
animation-iteration-count: infinite;
}

@keyframes meh 
{
    from
    {
        box-shadow: 1px 1px 38px rgb(206, 2, 247);
    }

    to
    {
        box-shadow: 1px 1px 38px rgb(250, 2, 196);
    }
}